<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
	{{# each anyArray as |val key|}}
	    {{ key }} : {{ val }}
	    	</br>
	{{/each}}
</body>
</html>